@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    background: linear-gradient(to top, #add8e6, #ffffff);;
    --foreground: 222.2 84% 4.9%;
    color: black;
  }
}

